<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Project Manager{% endblock %}</title>
</head>
<body>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<header>
    <h1><a href="{% url 'projects:index' %}">Gerenciador de Projetos</a></h1>
    {% if greeting %}
        <p>{{ greeting }}, {{ user.username }}</p>
    {% endif %}
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'users:logout' %}">
                    {% csrf_token %}
                    <button type="submit">Fazer Logout</button>
                </form>
            {% endif %}
        </ul>
    </nav>
</header>
<hr>

<main>
    {% block content %}
        <!-- Specific page content goes here -->
    {% endblock %}
</main>

<footer>
    <p>&copy; {{ current_datetime.year }} Gerenciador de Projetos</p>
</footer>
</body>
</html>