{% extends "projects/partials/base.html" %}
{% block title %}Meu perfil{% endblock %}
{% block content %}
    <p>Seu nome de usuario eh {{ current_user_profile.user.username }}</p>
    <p>Seu primeiro nome eh {{ current_user_profile.user.first_name }}</p>
    <p>Seu segundo nome eh {{ current_user_profile.user.last_name }}</p>
    <p>Sua data de nascimento eh {{ current_user_profile.birth_date }}</p>
    <p>Seu genero eh {{ current_user_profile.gender }}</p>
    <p>Sua biografia eh {{ current_user_profile.biography }}</p>
{% endblock %}