{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adicionando task</title>
</head>
<link rel="stylesheet" href="{% static 'projects/style.css' %}">
<body>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<h1>Adicionando task</h1>
<form method="post" action="
    {% if current_project %}
        {% url 'projects:add_task' current_project.id %}
    {% else %}
        {% url 'projects:add_task_global' %}
    {% endif %}
">
    {% csrf_token %}
    <fieldset>
        <label>{{ form.name.label }}</label>
        {{ form.name }}

        <label>{{ form.description.label }}</label>
        {{ form.description }}

        <!-- Definindo o value do projeto atual -->
        <!-- Caso a task esteja sendo criada num projeto, definir o valor do campo "related_project" para tal projeto -->
        {% if current_project %}
            <input type="hidden" name="related_project" value="{{ current_project.id }}">
            <!-- Se não, definir qual projeto a task se refere manualmente -->
        {% else %}
            <label>Projeto Relacionado:</label>
            {{ form.related_project }}
        {% endif %}
    </fieldset>

    <input type="submit" value="Criar Task">
</form>
</body>
</html>