<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projetos</title>

</head>
<body>

        <h1>Gerenciador de Projetos</h1>

            <button class="btn-primary"><a href="{% url 'projects:add_project' %}">Novo Projeto +</a></button>
            <button class="btn-secondary"><a href="{% url 'projects:add_task_global' %}">Nova Task</a></button>



        {% if project_list %}

            {% for projeto in project_list %}


                <h2>{{ projeto.name }}</h2>
                        <span class="task-count">{{ projeto.task_set.count }} tasks</span>


                <p>{{ projeto.description|truncatewords:30 }}</p>


                <a href="{% url 'projects:project' projeto.id %}" class="view-project">Ver detalhes →</a>


            {% endfor %}

        {% else %}

            <p>Nenhum projeto encontrado</p>
            <p>Comece criando seu primeiro projeto!</p>

        {% endif %}


</body>
</html>