{% extends "projects/partials/base.html" %}

{% block title %}{{ current_project.name }}{% endblock %}

{% block content %}
<h1>{{ current_project.name }}</h1>

<h2>Descrição</h2>
<p>{{ current_project.description }}</p>

<h2>Tarefas</h2>
{% if project_tasks %}
    {% for task in project_tasks %}
        <h3><a href="{% url 'projects:task' current_project.id task.id %}" class="view-task">{{ task.name }}</a></h3>
        <span class="task-date">{{ task.created_at|date:"M d, Y" }}</span>
        <p>{{ task.description|truncatewords:20 }}</p>
    {% endfor %}
{% else %}
    <p>Sem tarefas ainda</p>
    <p>Comece adicionando sua primeira tarefa!</p>
{% endif %}
<p>Projeto criado por {{ current_project.created_by.username }}</p>
<p>Última modificação por {{ current_project.last_edited_by.username }}</p>

<button class="btn-primary">
    <a href="{% url 'projects:add_task' current_project.id %}">Adicionar Task</a>
</button>
<hr>
<button>
    <a href="{% url 'projects:edit_project' current_project.id %}">Editar projeto</a>
</button>
<button>
    <a href="{% url 'projects:delete_project' current_project.id %}">Excluir projeto</a>
</button>
{% endblock %}