<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ current_task.name }}</title>

</head>
<body>
{% if messages %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}

{% endif %}

<h1>{{ current_task.name }}</h1>

Criado em {{ current_task.created_at }}


<h2>Descrição</h2>
<p>{{ current_task.description }}</p>

<p>Task criada por {{ current_task.created_by.username }}</p>
<p>Última modificação por {{ current_task.last_edited_by.username }}</p>

<hr>
<button>
    <a href="{% url 'projects:edit_task' current_project.id current_task.id %}">Editar task</a>
</button>
<button>
    <a href="{% url 'projects:delete_task' current_project.id current_task.id %}">Excluir task</a>
</button>
<p><a href="{% url 'projects:project' current_project.id %}">Voltar para o projeto: {{ current_project.name }}</a></p>
<p><a href="/">Voltar para o início</a></p>


</body>
</html>